.principal{
    justify-content: center;
    margin: 0 auto;
  
 
    width: 100%;
    height: auto;
    max-width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 200px;

}
.secundario{
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    
}
.repetir{
   border: 1px solid black;
    height: auto;
    background-color: rgb(228, 11, 11);
    width: 100vh;
    max-width: 150px;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    color: white;
    margin: 20px 20px 20px;
}
  
  .repetir:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .repetir:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  .win{
    height: 350px;
    width: 350px;
    margin: 20px 20px 20px;
  }
#text{
    margin: auto;
    color: black;
    padding: 15 px;
}
    html{
        align-items: center;
        justify-content: center;
opacity: 100%;
        background-color:green;
}